{% extends 'car/base.html' %}
{% block title %} Mes parkings{% endblock %}


{% block body_block %}
<div class="span2"></div>
<div class="span10">
<div class="hero-unit">
	{% if list_park %}
<div class="panel panel-success">
  <div class="panel-heading">La liste de mes parkings :</div>
 <div class="panel-body">
<div class="span2">	
<font size ="5" color="#8FCF3C"> Nom </font></div>

<div class="span3">
<font size ="5" color="#8FCF3C">Nombre totale de place </font>
</div>
<div class="span4"><font size ="5" color="#8FCF3C"> Nombre de place disponible </font>
</div>
</br> </br>
	{% for parking  in list_park %}

<div class="span2">	
{{ parking.namepark }}    </div>

<div class="span3">
 {{ parking.nbrplace }} <br>
</div>
<div class="span4">
<form id="gerer" method="post" action="/car/gerer/">
{% csrf_token %}
 <input type="number" name="{{ parking.id}}" value="{{ parking.nbplacevide }}" / >
<button align ="center" type="submit">changer</button>
</div>
</br> </br>
	{% endfor %}

</div></div> </div>
	{% else %}

	<div class="span9">
	<h1>vous n'avez auccun parking ! </h1> 
	<p > si vous voulez ajouter un parking<a href="/car/add_parking"> cliquer ici </p>
	</div>
	{% endif %}
	
</div></div>

{% endblock %}
