{% extends 'car/base.html' %}
{% load static %}
{% block title %} register here ! {% endblock %}



{% block body_block %}
<div class="span7"> 
</br> </br> </br> </br>
<div class="hero-unit">
<div id="main-slider" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#main-slider" data-slide-to="0" class="active"></li>
				<li data-target="#main-slider" data-slide-to="1"></li>
				<li data-target="#main-slider" data-slide-to="2"></li>
				
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img style="max-height: 380px;border-radius:70px; box-shadow:0 0 10px 2px;" class="img-responsive" src="/static/slide/a4.jpg" alt="slider">
					
				</div>
				<div class="item">
					<img style="max-height: 380px;border-radius:70px; box-shadow:0 0 10px 2px;" class="img-responsive" src="/static/slide/a5.jpg" alt="slider">
					
				</div>
				<div class="item">
					<img style="max-height: 380px;border-radius:70px; box-shadow:0 0 10px 2px;" class="img-responsive" src="/static/slide/a3.jpg" alt="slider">
					
				</div>
				
				
			</div>
		</div>
</div>
</div>
<div class="span1"></div>
<div class="span4">
      <div class="panel panel-success">
  <div class="panel-heading">Inscription </div>

<div class="panel-body">
	{% if registered %}
        <p>Merci pour votre inscription</p>

 
        {% else %}
<div class="hero-unit"> 
        <form  method="post" action="/car/inscription/" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 > S'enregistrer ici</h2>
      

            {% for field in user_form.visible_fields %}
            {{ field.errors }}
           <label> {{ field.help_text }}</label><br />
            {{ field }}<br />
            {% endfor %}
	    
 
       <input class="btn btn-success" type="submit" name="Inscription" value="inscription"/> 
</br>
        </form>  </div> </div></div> </div>
        {% endif %}
   {% endblock %}
